<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DC Comics</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/theme1.css">
  <link rel="icon" href="ttps://coliseumofcomics.com/wp-content/uploads/2014/12/DC-Banner1-e1420485607984.jpg">
</head>
<body>
  <div class="top">
    <h1>Must Read Collections</h1>
    <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
  </div>

  <div class="comics">
    <a href="/" class="bookmarks">homepage</a>
    <a href="/comic1" class="bookmarks">superman vs. shazam</a>
    <a href="/comic2" class="bookmarks">the joker</a>
    <a href="/comic3" class="bookmarks">wonder woman</a>
    <a href="/comic4" class="bookmarks">fallen angel</a>
    <a href="/comic5" class="bookmarks">red hood : outlaw</a>
  </div>

  <div class="row">
    <table>
      <tr>
        <td class="comicText">
          <h2>FALLEN ANGEL</h2>
          <p>
            It's a typical evening at the favorite drinking establishment in Bete Noire. 
            Every single cast member comes wandering through Dolf's bar, each caught up in
            their own problems...not realizing they're interrelated, and only the Fallen 
            Angel can solve them in one stroke!
          </p>
        </td>
        <td class="comicPhoto">
          <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/1972_400x600.jpg" alt="FALLEN ANGEL">
        </td>
      </tr>
  </div>
</body>
</html>