<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DC Comics</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="ttps://coliseumofcomics.com/wp-content/uploads/2014/12/DC-Banner1-e1420485607984.jpg">
</head>
<body>
  <div class="top">
    <h1>Must Read Collections</h1>
    <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels from DC, Vertigo, DC Black Label and Milestone Media!</p>
  </div>

  <div class="comics">
    <a href="/" class="bookmarks">homepage</a>
    <a href="/comic1" class="bookmarks">superman vs. shazam</a>
    <a href="/comic2" class="bookmarks">the joker</a>
    <a href="/comic3" class="bookmarks">wonder woman</a>
    <a href="/comic4" class="bookmarks">fallen angel</a>
    <a href="/comic5" class="bookmarks">red hood : outlaw</a>
  </div>

  <div class="row">
    <table>
      <tr>
        <td class="comicPhoto">
          <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/gn-covers/2021/02/RHOUTLv4_UT_225-001_HD_60343f4c107714.01829678.jpg" alt="RED HOOD : OUTLAW">
        </td>
        <td class="comicText">
          <h2>RED HOOD : OUTLAW</h2>
          <p>
            It’s the end of the Outlaw era! Magic and metahumans are everywhere,
            but good and evil are easy to spot-right? Red Hood and the Outlaws are
            about to discover that the line between moral and immoral is very thin
            indeed. Red Hood, Artemis, and Bizarro have battled many threats together
            ...but they’ve never faced a veritable army of the damned! Which is what
            is happening during the protests on the streets of Qurac as the Untitled
            prepare to strike at the heart of humanity! It’s a battle that will take
            the Outlaws literally to hell-but will they be able to find their way back?
            Collects Red Hood: Outlaw #43-50.
          </p>
        </td>
      </tr>
  </div>
</body>
</html>